<table>
  <tr>
    <td width="15%"><img src="/img/table/0.png"/>&nbsp; No Issues</td>
    <td width="17%"><img src="/img/table/1.png"/>&nbsp; Info Available</td>
    <td width="24%"><img src="/img/table/2.png"/>&nbsp; Planned Maintenance</td>
    <td width="17%"><img src="/img/table/3.png"/>&nbsp; Degradation</td>
    <td width="20%"><img src="/img/table/4.png"/>&nbsp; Outage</td>
  </tr>
</table>