<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Event</title>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="modal">
      <h1>Event Details</h1>
      <p>
        <strong><%=  @event.timestamp %></strong> <%= @event.level %> <br />
        <%= @event.message %>
        <small><a href="#" class="delete-link" title="Delete">Delete</a></small>
      </p>
      <hr />

    </div> <!-- End #messages -->

  </body>
</html>