<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Password Reset</h1>
    <p>
      Your statusdashboard.com password has been reset. Your username is: <%= @login %>.<br/><br/>
      And your temporary password is: <%= @pass %><br/>
      To login to the site and change it to something memorable, just follow this link: <%=h @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>