<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to StatusDashboard.com, <%=h @user.first_name %></h1>
    <p>
      You have successfully signed up to statusdashboard.com.<br/>
      Your username is: <b><%= @user.email %></b>.<br/>
      Your temporary password is <b><%= @pass %></b><br/>
      To login to the site and change it to something memorable, just follow this link: <%=h @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>