<!-- Header -->
<header id="top">
  <div class="wrapper">
    <!-- Title/Logo - can use text instead of image -->
    <div id="title"><a href="/admin"><img src="/img/dashboard-logo.png" alt="Administry" /></a><!--<span>Administry</span> demo--></div>
    <!-- Top navigation -->
    <div id="topnav">
      <a href="#"></a>
				Logged in as <b><%= session[:user_first_name] %> <%= session[:user_last_name] %> </b>
      <span>|</span> <a href="/admin/my_account">Settings</a>
      <span>|</span> <a href="/admin/logout">Logout</a><br />
      <!-- <small>You have <a href="#" class="high"><b>1</b> new message!</a></small> TODO add message support -->
    </div>
    <!-- End of Top navigation -->
    <!-- Main navigation -->
    <nav id="menu">
      <ul class="sf-menu">
        <li <% if @page_name=="Home" %>class="current"<% end %>><a href="/admin">Dashboard</a></li>
        
        <li <% if @page_name=="Admin" %>class="current"<% end %>><a href="/admin/">Admin</a>
          <ul>
            <li>
              <a href="/services">Manage Services</a>
            </li>
            <li>
              <a href="/users">Manage Users</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End of Main navigation -->
    <!-- Aside links -->
    <aside></aside>
    <!-- End of Aside links -->
  </div>
</header>
<!-- End of Header -->