<!-- Header -->
<header id="top">
  <div class="wrapper-login">
    <!-- Title/Logo - can use text instead of image -->
    <div id="title"><img src="/img/dashboard-logo.png" alt="Administry" /><span></span></div>
    <!-- Main navigation -->
    <nav id="menu">
      <ul class="sf-menu">
       <!--  <li class="current"><a href="#">Login</a></li> -->
       <!-- <li><a href="#">Register</a></li> TODO Add registration logic to login -->
      </ul>
    </nav>
    <!-- End of Main navigation -->
    <!-- Aside links -->
    <aside></aside>
    <!-- End of Aside links -->
  </div>
</header>
<!-- End of Header -->