<!-- Page footer -->
<footer id="bottom">
  <div class="wrapper-login">
    <p>Copyright &copy; 2010 <b><a href="http://clearsignalsoft.com" title="ClearSignal Software">ClearSignal Software LLC</a></b></p>
  </div>
</footer>
<!-- End of Page footer -->