<!-- Header -->
<header id="top">
  <div class="wrapper">
    <!-- Title/Logo - can use text instead of image -->
    <div id="title"><a href="/home"><img src="/img/dashboard-logo.png" alt="Administry" /></a><!--<span>Administry</span> demo--></div>
    <!-- Main navigation -->
    <div id="topnav">
     
      <!-- <small>You have <a href="#" class="high"><b>1</b> new message!</a></small> TODO add message support -->
    </div>
    <nav id="menu">
      <ul class="sf-menu">
       <!--  <li class="current"><a href="#">Login</a></li> -->
       <!-- <li><a href="#">Register</a></li> TODO Add registration logic to login -->
      </ul>
    </nav>
    <!-- End of Main navigation -->
    <!-- Aside links -->
    <aside></aside>
    <!-- End of Aside links -->
  </div>
</header>
<!-- End of Header -->