<!-- Right column/section -->
        <aside class="column width2">
          <div id="rightmenu">
            <header>
              <h3>Your Account</h3>
            </header>
            <dl class="first">
              <dt><img width="16" height="16" alt="" src="/img/key.png"></dt>
              <dd><a href="/admin/my_account">Plan details</a></dd>
              <dd class="last">Want to upgrade your account?</dd>

              <dt><img width="16" height="16" alt="" src="/img/help.png"></dt>
              <dd><a href="http://statusdashboard.zendesk.com/home">Support</a></dd>
              <dd class="last">User Forums and Support Requests</dd>
            </dl>
          </div>
        <!--   <div class="content-box">
            <header>
              <h3>Latest in the Community</h3>
            </header>
           <section>
              <dl>
                <dt>Maximize every interaction with a client</dt>
                <dd><a href="#">Read more</a></dd>
                <dt>Diversification for Small Business Owners</dt>
                <dd><a href="#">Read more</a></dd>
              </dl>
            </section>
          </div> -->
        </aside>
        <!-- End of Right column/section -->