<!-- Right column/section -->
        <aside class="column width2">
          <div id="rightmenu">
            <header>
              <h3>Your Account</h3>
            </header>
            <dl class="first">
              <dt><img  alt="" src="/img/right_column/user_accept.png">   </dt>
              <% @user_count = User.count(:conditions => "account_id="+session[:account_id].to_s) %>
              <dd><h4>&nbsp;&nbsp;&nbsp;<%= pluralize(@user_count, 'user') %></h4> </dd>
              <dd class="last"><a href="/users/new">+ Add user</a></dd>
              <% @dashboard_count = Dashboard.count(:conditions => "account_id="+session[:account_id].to_s) %>
              <dt><img  alt="" src="/img/right_column/accept.png"></dt>
              <dd><h4>&nbsp;&nbsp;&nbsp;<%= pluralize(@dashboard_count, 'dashboard') %> </h4></dd>
              <dd class="last"><a href="/dashboards/new">+ Add dashboard</a></dd>
              <hr>
<% if session[:user].role == "admin" %>
              <dt><img  alt="" src="/img/right_column/edit_page.png"></dt>
              <dd><a href="/admin/my_account">Plan details</a></dd>
              <dd class="last">Want to upgrade your account?</dd>
              <% end %>

              <dt><img  alt="" src="/img/right_column/help.png"></dt>
              <dd><a href="http://statusdashboard.zendesk.com/home">Support</a></dd>
              <dd class="last">User Forums and Support Requests</dd>
            </dl>
          </div>
        <!--   <div class="content-box">
            <header>
              <h3>Latest in the Community</h3>
            </header>
           <section>
              <dl>
                <dt>Maximize every interaction with a client</dt>
                <dd><a href="#">Read more</a></dd>
                <dt>Diversification for Small Business Owners</dt>
                <dd><a href="#">Read more</a></dd>
              </dl>
            </section>
          </div> -->
        </aside>
        <!-- End of Right column/section -->
        <p>&nbsp;</p>